.side-navbar {
  height: 100vh;
  width: 250px;
  background-color: #242526;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.brand-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #f1f1f1;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: #f1f1f1;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}

.nav-link:active {
  background-color: #555;
}

.nav-link:focus {
  outline: none;
  background-color: #3a3b3c;
}
