/* Navbar.css */
.side-navbar {
  width: 200px;
  height: 100vh;
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
}

.brand-title {
  font-size: 1.5rem;
  color: #61dafb;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #61dafb;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.logout-button:hover {
  color: #ff4757;
}
